elm-stuff
src/**/main.js
platforms
plugins
src/Atrapos.Cordova/www/style.css
src/Atrapos.Cordova/www/*.png
src/Atrapos.Cordova/www/*.svg
src/Atrapos.Cordova/www/js/main.js
src/Atrapos.Cordova/www/js/elm.js
node_modules