<?xml version='1.0' encoding='utf-8'?>
<widget id="com.bestfriendgame.pathfinder" version="1.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Pathfinder</name>
    <description>
        Fun and easy puzze
    </description>
    <author email="yuri.martynov@gmail.com" href="https://yuri-martynov.github.io/baloon">
        Yury Martynov
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" subdomains="true" />
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
        <icon src="res/ios/Icon-ldpi.png" density="ldpi" />
        <icon src="res/ios/Icon-mdpi.png" density="mdpi" />
        <icon src="res/ios/Icon-hdpi.png" density="hdpi" />
        <icon src="res/ios/Icon-xhdpi.png" density="xhdpi" />
        <icon src="res/ios/Icon-xxhdpi.png" density="xxhdpi" />
        <icon src="res/ios/Icon-xxxhdpi.png" density="xxxhdpi" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
        <config-file parent="UIStatusBarHidden" platform="ios" target="*-Info.plist">
            <true />
        </config-file>
        <config-file parent="UIViewControllerBasedStatusBarAppearance" platform="ios" target="*-Info.plist">
            <false />
        </config-file>
        <!-- iOS 8.0+ -->
              <!-- iPhone 6 Plus  -->
              <icon src="res/ios/icon-60@3x.png" width="180" height="180" />
              <!-- iOS 7.0+ -->
              <!-- iPhone / iPod Touch  -->
              <icon src="res/ios/icon-60.png" width="60" height="60" />
              <icon src="res/ios/icon-60@2x.png" width="120" height="120" />
              <!-- iPad -->
              <icon src="res/ios/icon-76.png" width="76" height="76" />
              <icon src="res/ios/icon-76@2x.png" width="152" height="152" />
              <!-- iOS 6.1 -->
              <!-- Spotlight Icon -->
              <icon src="res/ios/icon-40.png" width="40" height="40" />
              <icon src="res/ios/icon-40@2x.png" width="80" height="80" />
              <!-- iPhone / iPod Touch -->
              <icon src="res/ios/icon.png" width="57" height="57" />
              <icon src="res/ios/icon@2x.png" width="114" height="114" />
              <!-- iPad -->
              <icon src="res/ios/icon-72.png" width="72" height="72" />
              <icon src="res/ios/icon-72@2x.png" width="144" height="144" />
              <!-- iPhone Spotlight and Settings Icon -->
              <icon src="res/ios/icon-small.png" width="29" height="29" />
              <icon src="res/ios/icon-small@2x.png" width="58" height="58" />
              <!-- iPad Spotlight and Settings Icon -->
              <!--<icon src="res/ios/icon-50.png" width="50" height="50" />-->
              <!--<icon src="res/ios/icon-50@2x.png" width="100" height="100" />-->

              <!-- images are determined by width and height. The following are supported -->
            <splash src="res/ios/iphone_portrait_4_@1x.png" width="320" height="480"/>
            <splash src="res/ios/iphone_portrait_4_@2x.png" width="640" height="960"/>
            <splash src="res/ios/ipad_portrait_7-8_@1x.png" width="768" height="1024"/>
            <splash src="res/ios/ipad_portrait_7-8_@2x.png" width="1536" height="2048"/>
            <splash src="res/ios/ipad_landscape_7-8_@1x.png" width="1024" height="768"/>
            <splash src="res/ios/ipad_landscape_7-8_@2x.png" width="2048" height="1536"/>
            <splash src="res/ios/iphone_portrait_5_@2x.png" width="640" height="1136"/>
            <splash src="res/ios/iphone_portrait_6_.png" width="750" height="1334"/>
            <splash src="res/ios/iphone_portrait_6p_@3x.png" width="1242" height="2208"/>
            <splash src="res/ios/Default-Landscape-736h.png" width="2208" height="1242"/>

    </platform>
    <preference name="DisallowOverscroll" value="true" />
    <preference name="orientation" value="portrait" />
    <engine name="android" spec="~6.1.2" />
    <engine name="osx" spec="~4.0.1" />
    <engine name="ios" spec="~4.3.1" />
    <plugin name="org.apache.cordova.statusbar" spec="~0.1.7" />
    <plugin name="cordova-custom-config" spec="~3.1.2" />
    <plugin name="cordova-plugin-fullscreen" spec="~1.1.0" />
</widget>
