* {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body, html {
    -webkit-touch-callout: none;
    /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;
    /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;
    /* prevent copy paste, to allow, change 'none' to 'text' */
    height: 100%;
    margin: 0;
    padding: 0;
    text-transform: uppercase;
    width: 100%;
    font-family: -apple-system-body, Lato;
    background: #0C1122;
    overflow: hidden;
}

.container {
    /*background: url(BG-2.png) no-repeat;*/
    background: linear-gradient(to top, #30cfd0 0%, #330867 100%);
    height: 100%;
}

.map-header {
    margin: 40px;
    opacity: 0.7;
}

.pure-menu {
    margin: 25px;
}

.pure-menu, .pure-menu a, .pure-menu ul {
    background: #0C1122;
    color: #4C61AB;
    font-size: 1em;
    font-family: -apple-system-body, Lato;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    list-style-type: none;
}

.pure-menu li {
    margin: 6px 0;
    transition: margin 0.2s;
}

@keyframes rotate {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.game-field {
    /*margin: 75px 25px 25px 25px;*/
    overflow: visible;
}

.game-ui {
    left: 0;
    top: 0;
    width: 100%;
    height: 3em;
    position: fixed;
    /*background: #0C1122;*/
    color: #4C61AB;
    display: flex;
    flex-direction: row;
    border: 0 solid;
    /*border-bottom-width: 1px;*/
    padding-top: 10px;
}

.hint {
    display: none;
    flex: 0.25;
    color: #4C61AB;
    font-size: 1em;
    border: 1px solid #4C61AB;
    border-radius: 5px;
    margin: 8px 10px;
    /*background: #161D36;*/
    background: transparent;
}

.game-name {
    flex: 1;
    align-self: center;
    font-size: 1em;
    margin-left: 15px;
    text-shadow: 1px 1px 2px black, 0 0 1em lightblue, 0 0 0.2em #4C61AB;
}

.menu {
    width: 24px;
    height: 25px;
    align-self: center;
    margin-right: 25px;
    margin-left: 15px;
    background: url(menu.svg);
    border: 0;
}

.menu.active {
    animation-name: rotate;
    animation-duration: 300ms;
    animation-timing-function: ease-in-out;
}

@keyframes offcanvas-right {
    from {
        transform: translate(250px, 0);
    }
}

.menu-popup {
    position: fixed;
    top: 0;
    right: -100px;
    width: 70%;
    height: 100%;
    animation-name: offcanvas-right;
    animation-duration: 200ms;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    margin: 0;
    padding: 0;
    padding-right: 100px;
    background: #0C1122;
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 15px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.menu-popup .reset, .menu-popup .back, .menu-popup .close, .levels-name {
    color: #4C61AB;
    font-size: 1.24em;
    font-family: -apple-system-body, Lato;
    margin: 15px 0;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.levels-name {
    text-align: center;
}

.menu-popup .name {
    margin: 10px 0;
    opacity: 0.5;
}

.menu-popup .reset:hover, .menu-popup .back:hover {
    color: white;
    transition: 0.2s;
}

.menu-popup a {
    text-decoration: none;
}

.link {
    stroke: whitesmoke;
    stroke-dasharray: 0.1, 0.2;
    opacity: 0.9;
    /*stroke: lightskyblue;*/
    stroke-width: 0.05;
    pointer-events: none;
    transition: stroke 1s, stroke-dasharray 1.5s;
}

.link.selected {
    stroke-width: 0.1;
    stroke: #60E5FC;
    stroke-dasharray: none;
    transition: 0.2s;
}

.planet {
    pointer-events: none;
    /*fill: #58E5FF;*/
}

.selected .planet {
    animation: node 0.5s ease-in-out;
    animation-fill-mode: both;
    fill: #58E5FF;
}

.selection-start .planet {
    fill: mediumpurple;
}

.selection-end .planet {
    fill: whitesmoke;
    transform: scale(0.5);
    transition: all 0.2s ease-in;
}

.planet {
    fill: orangered;
    transform: scale(0.4);
    transition: all 0.2s ease-in;
}

.orbit {
    opacity: 0.8;
    fill: none;
    stroke: red;
    stroke-width: 0.05;
}

.orbit-1 {
    animation: pop 0.2s ease-in-out;
}

.orbit-2 {
    transform: scale(1.5) rotate(30deg);
    display: none;
}

.orbit-3 {
    /*animation:spin 4s linear infinite;*/
    transform: scale(2);
    transition: all 0.2 ease-in-out;
    display: none;
}

.orbit-4 {
    transform: scale(1.9) rotate(90deg);
    display: none;
}

.orbit-3 .sputnik {
    stroke: gold;
    fill: yellow;
    fill-opacity: 0.8;
}

.selected .orbit {
    stroke: #58E5FF;
    fill: #59E5FF;
    fill-opacity: 0.3;
    transition: stroke 1.5s, fill 1s;
    filter: drop-shadow( -5px -5px 5px pink);
}

.selected.selection-start .orbit.orbit-1 {
    fill: mediumpurple;
    fill-opacity: 0.6;
    stroke: mediumpurple;
}

@keyframes orbit {
    /*0% {fill: gold; }*/
    100% {
        stroke: #58E5FF;
    }
}

@keyframes pop {
    100% {
        transform: scale(1.2);
    }
}

@keyframes spin {
    100% {
        transform: rotate(360deg);
    }
}

@keyframes spin-push {
    100% {
        transform: rotate(360deg) scale(0);
    }
}

.help {
    fill: green;
}

.victory .percent {
    color: orange;
}

.victory .link {
    stroke: transparent;
}

.victory .link.selected {
    stroke: orange;
}

.victory .game-field {
    /*animation:spin-push 3s ease-in infinite;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;*/
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }
    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }
    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }
    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.overdraft .game-field {
    animation: shake 0.82s cubic-bezier(.36, .07, .19, .97) both;
}

.overdraft .link.selected {
    stroke: white;
    transition: stroke 2s;
}

.overdraft .selected .planet {
    fill: white;
    transition: fill 1s;
}

.overdraft .selected .orbit {
    stroke: red;
    fill: #B9301B;
}

.overdraft .percent {
    color: red;
}

.reset {
    fill: darkgray;
    transform: translateX(5)
}

.len {
    pointer-events: none;
    color: dimgray;
    font-size: 0.75;
    text-anchor: middle;
}

.progress {
    font-size: 0.5;
}

.select {
    stroke: #60E5FC;
    stroke-width: 0.1;
}

.deselect {
    stroke: red;
    stroke-width: 0.1;
}

@keyframes offcanvas-left {
    from {
        transform: translate(-150px, 0);
    }
}

ul.levels {
    animation: offcanvas-left;
    animation-duration: 300ms;
    animation-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
    flex-direction: row;
    flex-flow: wrap;
    display: flex;
    list-style-type: none;
}

li.level {
    border-radius: 50%;
    background: #4C61AB;
    border: 1px solid #4C61AB;
    margin: 15px;
    width: 30px;
    height: 30px;
    color: #0C1122;
    line-height: 30px;
    text-align: center;
}

li.level a {
    color: #0C1122;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.li.level a:active {
    color: white;
    transition: 0.2s;
}

.level.closed {
    background: transparent;
    border: 1px solid #4C61AB;
    pointer-events: none;
}

li.level.closed a {
    color: #4C61AB;
}

.level.opened {}

.percent {
    color: #4C61AB;
    width: 60px;
    /*overflow: hidden;*/
    align-self: center;
    margin-left: 20px;
    flex: 1;
    font-size: x-large;
}

.percent .percent-0.changing {
    animation-name: fromDown;
    animation-duration: 250ms;
}

@keyframes fromDown {
    from {
        transform: translate(0, 50px); /* doesn't work (((*/
        opacity: 0;
    }
}

.percent .percent-1 {
    opacity: 0;
    /*hack*/
    position: fixed;
    left: 20px;
}

.percent .percent-1.changing {
    animation-name: toUp;
    animation-duration: 250ms;
}

@keyframes toUp {
    from {
        opacity: 1
    }
    to {
        transform: translate(0, -50px);
    }
}

@keyframes pop-intro {
    100% {
        transform: scale(0.8);
        opacity: 1;
    }
}

.begin .planet {
    animation: pop-intro 0.4s ease-in-out;
}

.container.overdraft {
    background: linear-gradient(to top, #ff0844 0%, #ffb199 100%);
    transition: background 0.6s ease-in;
}

.container.victory {
    background: linear-gradient(-60deg, #ff5858 0%, #f09819 100%);
}