html, body {
    margin: 0;
    padding: 0;
    overflow: hidden
}

svg {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.link {
    /*stroke: url(#stroke);*/
    stroke: silver;
    stroke-width: 0.5;
}

.link.selected {
    stroke: black;
}

.node {
    fill: blue;
}

.help {
    fill: green;
}

.victory {
    fill: gold;
}

.reset {
    fill: darkgray;
    position: absolute;
    right: 0;
    top: 0;
}