* {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/copy in UIWebView */
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Lato; 
}

.container {
    background: url(sky-01.png) no-repeat center center fixed;
    background-size: cover;
    animation-name: rotate;
    /*animation-duration:600s;*/
    /*animation-iteration-count:infinite;*/
    /*animation-timing-function:linear;*/
    /*position: fixed;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*transform: scale(10)*/
}

@keyframes rotate {
  from {transform:rotate(0deg);}
  to {  transform:rotate(360deg);}
}

.game-field {
    margin: 25;
    margin-top: 50;
}

.game-ui {
  left: 0;
  top: 0;
  width: 100%;
  height: 3em;
  position: fixed;
  background: #0C1122;
  color: #4C61AB;
  display: flex;
  flex-direction: row;
  border: 0 solid; 
  border-bottom-width: 1px;
}

.hint{
    flex: 0.25;
    color: #4C61AB;
    font-size: 1em;
    border: 1px solid #4C61AB;
    border-radius: 5px;
    margin: 8 10;
    background: #161D36;
}

.percent{
    color: #4C61AB;
    width: 30px;
    overflow: hidden;
    align-self: center;
    margin-left: 15;
}

.game-name{
    flex: 1;
    align-self: center;
    font-size: 1em;
    margin-left: 15;
    text-shadow: 1px 1px 2px black, 0 0 1em lightblue, 0 0 0.2em #4C61AB;
}

.menu{
    width: 35px;
    height: 34px;
    align-self: center;
    margin-right: 15;
    margin-left: 15;
    background: url(settings-icon.svg);
    border: 0;
}

.link {
    stroke: gray;
    stroke-dasharray: 0.2, 0.5;
    /*stroke: lightskyblue;*/
    stroke-width: 0.05;
    pointer-events: none;
}

.link.selected {
    stroke-width: 0.1;
    stroke: lightblue;
    stroke-dasharray: none;   
    /*filter: drop-shadow(16px 16px 20px blue);*/
    filter: opacity(50%);
}

.node {
    pointer-events: none;
    fill: dimgray;
}

.selected.node {
    /*fill: white;*/
    animation: node 0.5s ease-in-out;
    animation-fill-mode: both;
}
@keyframes node {
    /*0% {fill: gold; }*/
    100% {fill: white;}
}

.help {
    fill: green;
}

.victory {
    color: gold;
}

.reset {
    fill: darkgray;
    transform: translateX(5)
}

.len {
    pointer-events: none;
    color: dimgray;
    font-size: 0.75;
    text-anchor: middle;
}

.progress {
    font-size: 0.5;
}

