* {
    -webkit-touch-callout: none;
    -webkit-user-select: none; /* Disable selection/copy in UIWebView */
}

html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
    font-family: Lato; 
    background: #0C1122;
}

.container {
    background: url(sky-01.png) no-repeat center center fixed;
    background-size: cover;
    animation-name: rotate;
    /*animation-duration:600s;*/
    /*animation-iteration-count:infinite;*/
    /*animation-timing-function:linear;*/
    /*position: fixed;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*transform: scale(10)*/
}
.map-header {
    margin: 40;
}
.pure-menu{
    margin: 25;
}
.pure-menu, .pure-menu a, .pure-menu ul{
    background: #0C1122;
    color: #4C61AB;
    font-size: 1em;
    font-family: Lato;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    list-style-type: none;
}

.pure-menu li{
    margin: 6 0;
}

@keyframes rotate {
  from {transform:rotate(0deg);}
  to {  transform:rotate(360deg);}
}


.game-field {
    margin: 25;
    margin-top: 75;
}

.game-ui {
  left: 0;
  top: 0;
  width: 100%;
  height: 3em;
  position: fixed;
  /*background: #0C1122;*/
  color: #4C61AB;
  display: flex;
  flex-direction: row;
  border: 0 solid; 
  /*border-bottom-width: 1px;*/
  padding-top: 10;
}

.hint{
    flex: 0.25;
    color: #4C61AB;
    font-size: 1em;
    border: 1px solid #4C61AB;
    border-radius: 5px;
    margin: 8 10;
    /*background: #161D36;*/
    background: transparent;
}

.percent{
    color: #4C61AB;
    width: 60px;
    overflow: hidden;
    align-self: center;
    margin-left: 15;
    flex: 1;
}

.game-name{
    flex: 1;
    align-self: center;
    font-size: 1em;
    margin-left: 15;
    text-shadow: 1px 1px 2px black, 0 0 1em lightblue, 0 0 0.2em #4C61AB;
}

.menu {
    width: 24px;
    height: 25px;
    align-self: center;
    margin-right: 25;
    margin-left: 15;
    background: url(settings-icon.svg);
    border: 0;
}

.menu.active {
    animation-name: rotate;
    animation-duration:300ms;
    animation-timing-function:ease-in-out;
}


@keyframes offcanvas-right {
    from {transform: translate(250px,0);}
}


.menu-popup {
  position: fixed;
  top: 0;
  right: -100px;
  width: 70%;
  height: 100%;
  animation-name: offcanvas-right;
  animation-duration:200ms;
  animation-timing-function:cubic-bezier(0.175, 0.885, 0.32, 1.275);
  margin: 0;
  padding: 0;
  padding-right: 100px;
  background: #0C1122;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding-top: 15px;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.menu-popup .reset, .menu-popup .back, .menu-popup .close {
    color: #4C61AB;
    font-size: 1em;
    font-family: Lato;
    margin: 7px 0;
    text-transform: uppercase;
    -webkit-appearance: none;
    -moz-appearance: none;
}

.menu-popup .name {
    margin: 10px 0;
    opacity: 0.8;
}

.menu-popup .reset:hover, .menu-popup .back:hover {
    color: white;
    transition: 0.2s;
}

.link {
    stroke: gray;
    stroke-dasharray: 0.2, 0.5;
    /*stroke: lightskyblue;*/
    stroke-width: 0.05;
    pointer-events: none;
}

.link.selected {
    stroke-width: 0.1;
    stroke: lightblue;
    stroke-dasharray: none;   
}

.node {
    pointer-events: none;
    /*fill: #58E5FF;*/
}

.selected.node {
    animation: node 0.5s ease-in-out;
    animation-fill-mode: both;
}

.orbit {
    opacity: 0.8;
}

.selected.orbit {
    stroke: #58E5FF;
    fill: #59E5FF;
    fill-opacity: 0.3;
}
@keyframes orbit {
    /*0% {fill: gold; }*/
    100% {stroke: #58E5FF;}
}

.help {
    fill: green;
}

.victory {
    color: gold;
}

.overdraft {
    color: red;
}

.reset {
    fill: darkgray;
    transform: translateX(5)
}

.len {
    pointer-events: none;
    color: dimgray;
    font-size: 0.75;
    text-anchor: middle;
}

.progress {
    font-size: 0.5;
}

